<h1>users#show</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>
　　　<%= render 'follow_form' %>
　　　<%= render 'stats' %>

<% if current_user.id == @user.id %>
    <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.posts.each do |t| %>
    <%= t.user.name %>
    <%= image_tag t.image_url, size: "250x200" if t.image?  %>
<% end %>

<!-- 以下はいいね機能を実装している場合-->
<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_tweets.each do |t| %>
    <%= t.user.name %>
    <%= image_tag t.image_url, size: "250x200" if t.image?  %>
<% end %>
<!-- ここまで-->

<%= link_to "投稿一覧に戻る", posts_path %>