<body>
    <h5 class="h5">ユーザー詳細</h5>
    <div class="user-image"><%= image_tag @user.image_url, class: "rounded-circle", size: "200x200" if @user.image?  %></div>
    <div class="profile">
        <% if current_user.id == @user.id %>
            <%= link_to "編集する", edit_user_registration_path %>
        <% end %>
        <p>名前 : <%= @user.name %></p>
        <p>メールアドレス : <%= @user.email %></p>
        <p>プロフィール : <%= @user.profile %></p>
        　　　<%= render 'follow_form' %>
        　　　<%= render 'stats' %>
    </div>
    <div class="user-post-container">
        <h5 class="h5">ユーザーの投稿一覧</h5>
        <div class="row">
            <% @user.posts.each do |t| %>
                <div class="col-sm-3 box">
                    <div class="card" style="width: 255px; ">
                        <%= image_tag t.image_url, size: "250x200" if t.image?  %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>

    <div class="user-likes-container">
        <h5 class="h5">ユーザーがいいねした投稿一覧</h5>
        <div class="row">
            <% @user.liked_posts.each do |t| %>
                <div class="col-sm-3 box">
                    <div class="card" style="width: 255px; ">
                        <%= image_tag t.image_url, size: "250x200" if t.image?  %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>


    

    <p><%= link_to "投稿一覧に戻る", posts_path %></p>
</body>