<h1>GeekInstagram</h1>
<h3>新規Post</h3>
<%= form_for @post do |f| %>
    <div class="field">
        <%= f.label :image %>
        <%= f.file_field :image %>
    </div>
    <%= f.submit "Post" %>
<% end %>
<%= link_to "投稿一覧に戻る", posts_path %>