<div class="title">
    <h1>GeekInstagram</h1>
    <h3>Post詳細</h3>
</div>
<div class="postdetail">
    <p><%= image_tag @post.image_url, size: "250x200" if @post.image?  %></p>
    <p><%= @post.about %></p>
    <p><%= @post.user.email %></p>
    <p><%= @post.created_at %></p>

    <% if user_signed_in? %>
        <% if current_user.already_liked?(@post) %>
            <%= link_to post_like_path(@post), method: :delete do %>
                <i class="fas fa-heart"></i><%= @post.likes.count %>
            <% end %>
        <% else %>
            <%= link_to post_likes_path(@post), method: :post do %>
                <i class="fas fa-heart"></i><%= @post.likes.count %>
            <% end %>
        <% end %>
    <% else %>
        <i class="fas fa-heart"></i><%= @post.likes.count %>
    <% end %>
</div>
<div class="showlike">
    <h6>いいねしたユーザー</h6>
    <% @post.liked_users.each do |user| %>
        <li><%= user.email %></li>
    <% end %>
</div>

<div class="comment-wrapper">
    <h6>コメント一覧</h6>
    <% @comments.each do |c| %>
        <div>
            <%= c.user.email unless c.user.blank? %>
            <%= c.content %>
            <%= link_to "削除", post_comment_path(@post, c), method: :delete %>
        </div>
            <br>
    <% end %>

    <% if user_signed_in? %>
        <%= form_with(model: [@post, @comment], local: true) do |f| %>
            <%= f.text_area :content %>
            <%= button_tag type: "submit" do %>
                <i class="far fa-comments"></i> コメントする
            <% end %>
        <% end %>
    <% end %>
</div>

<%= link_to "投稿一覧に戻る", posts_path %>
<%= link_to "編集する", edit_post_path(@post.id) %>